{{> modules/barbrawl/templates/bar-config.hbs this}}
{{#if dummyAttributes}}
<input type="hidden" name="bar1.attribute" value="">
<input type="hidden" name="bar2.attribute" value="">
{{/if}}
<div class="bar-controls flexrow">
    <button type="button" class="brawlbar-add"><i class="far fa-plus-square"></i> {{localize "barbrawl.add"}}</button>
    {{#if isGM}}
    <button type="button" class="brawlbar-save"><i class="far fa-save"></i> {{localize "barbrawl.defaults.save"}}</button>
    <button type="button" class="brawlbar-load"><i class="fas fa-undo-alt"></i> {{localize "barbrawl.defaults.load"}}</button>
    {{/if}}
</div>